Source: qtmoko-opendune
Section: user/games
Priority: extra
Maintainer: Radek Polak <psonek2@seznam.cz>
Build-Depends: debhelper (>= 5), autotools-dev, libsdl1.2-dev
Standards-Version: 3.7.2
Homepage: http://www.opendune.org/

Package: qtmoko-opendune
Architecture: any
Depends: libsdl-qtmoko
Description: Classic Real-Time Strategy game
 OpenDUNE is an open source re-creation of the popular game “Dune II”,
 originally made by Westwood Studios.